/*------------------------------------*\
    #Default settings
\*------------------------------------*/

*{
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Montserrat', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 10px;
    background-color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
}

/*------------------------------------*\


#HOME PAGE


\*------------------------------------*/

.home-logo {
    width: 100px;
    height: 100px;
}

.nav-wrapper {
width: 80%;
margin: 0 auto;
}

.header {
background-color: black;
}

.nav {
display: flex;
justify-content: space-between;
align-items: center;
}

.nav-links {
color: #ba0720;
font-size: 20px;
}

.home-main {
background-image: url('https://media.istockphoto.com/photos/full-red-lips-an-black-background-with-copy-space-picture-id1200185523?k=6&m=1200185523&s=612x612&w=0&h=eZTwYHU7iIDICqOZ_WBlHBFlUIesFIxOgrbC258xm18=');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 80vh;
}

.home-description {
margin-left: 700px;
margin-right: 50px;
padding-top: 30px;
}

.home-info {
color: white;
}



.home-p {
line-height: 2;
}

